
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'), 
    url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'), 
    url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika.woff2') format('woff2'), 
    url('../fonts/Inika.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika-Bold.woff2') format('woff2'), 
    url('../fonts/Inika-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'), 
    url('../fonts/Merriweather/Merriweather-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}