.header {
    padding: 42px 0px;
    background-color:var(--bg-header-color);

}
 
@media(max-width: 800px) {
    .header {
        padding: 32px 0;
    }
}

@media(max-width: 630px) {
    .header {
        padding: 22px 0;
    }
}

@media(max-width: 480px) {
    .header {
        padding: 15px 0;
    }
}