.navigation__list {
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
}

.navigation__item {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    color: var(--nav-color);
    letter-spacing: 0.01em;
}

.navigation__item:hover {
    color: var(--active-color);
    font-weight: 700;
    transition: color 0.3s ease-in-out, font-weight 0.4s ease-in-out;
}

@media(max-width: 800px) {
    .navigation__list {
        display: none;
    }
     .navigation_active {
       display: block;
       min-height: 100vh;
       padding-top: 52px;
    }
}
