.project {
    grid-column: 2/3;
    margin: 0 auto;
}

.lists__item {
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: var(--bg-projects-color);
    border-radius: 20px;
    margin-bottom: 15px;
}

.lists__item:last-child {
    margin-bottom: 0px;
}

.lists__item:hover {
    background-color: var(--hover-projects-color);
    transition: background 0.3s ease-in-out;
}

.lists__item {
    display: none;
}

.lists__item.active {
    display: block;
}

.lists__name {
    font-family: 'Merriweather', serif; 
    font-size: 18px;
    line-height: 20px;
    width: 100px;
}

.lists__link {
    display: block;
    padding-top: 15px;
}

@media(max-width: 630px) {
    .project {
        grid-column: 1/3;
    }
    .project__title {
        text-align: center;
    }
}

@media(max-width: 480px) {
    .project {
        grid-row: 10/11;
    }
    .project__title {
        text-align: start;
    }
}